
    body {
        background-color: #f7c900;
        font-family: Georgia, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
        line-height: 1.5;
        color:rgb(0, 0, 0);
        }
        main{
            background-color: #000000; 
        }

        header{
            background-color: #f5d752;
            border: 2px solid #000000;
            
        }
        
        ul{
        border: 2px solid #000000;
        color: aliceblue;
        background-color: #f5d752;
        border: 100% solid #f5d752;
        
        }
/*
    h1{
        font-family: Georgia, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
        line-height: 1.5;
        color:rgb(0, 0, 0);
        border: 100% solid #f5d752;
        width: 50%;
        margin-top: 1%;
        border: 9px solid #f5d752;
        float: left;
        text-align: left;
    }
    header{
        background-color: #f5d752;
        width: 100%;
        border: 2px solid #000000;
        overflow: auto;
        margin-bottom: 1%;
        margin-top: 1%;
    }
    nav{
        width: 100%;
        border: 2px solid #000000;
        overflow: auto;
        color: aliceblue;
    }
    nav em{
        background-color: #f5d752;
        float: left;
        list-style-type: none;
        width: 25%;
        border: 100% solid #f5d752;
        margin-top: 0%;
    
    }
    a{
        color: #8b7201;
    }
    article {
        border-color: #000000 #000000 #000000 #000000;
        background-color: #000000;
        border: 10% solid #000000;
        margin-bottom: 10%;
        padding: 5%;
        margin-top: 1%;
        overflow: auto;
        margin: 4%;
        padding: auto;
    }
    article h2 img{
        width: 30%;
        margin-top: 1%;
    }

    .login{
        float: right;
        width: 50px;
        padding-right: 1%;
        padding-top: 1%;
    }

    .login img{
        width: 100%;
     }

     main{
        overflow: auto;
     }
     article img{
        width: 20%;
        padding: 1%;
        float: left;
     }
     article p{
        padding-right: 3%;
        margin-top: 0%;
        margin-bottom: 1%;
        position: static;
        z-index: inherit;
        text-align: left;
        right: 60%;
     }
    /*
     